---
---
<div class="wicket-container relative w-32 h-40 md:w-40 md:h-48 cursor-pointer group mx-auto" onclick="this.classList.toggle('is-broken')">
    <!-- Bails (Heavy black blocks) -->
    <div class="wicket-bail-1 absolute top-0 left-2 w-12 md:w-16 h-4 bg-brutal-black transition-transform duration-75 ease-linear z-10 origin-center border-2 border-brutal-white shadow-[4px_4px_0_0_#ccff00]"></div>
    <div class="wicket-bail-2 absolute top-0 right-2 w-12 md:w-16 h-4 bg-brutal-black transition-transform duration-75 ease-linear z-10 origin-center border-2 border-brutal-white shadow-[4px_4px_0_0_#ccff00]"></div>
    
    <!-- Stumps (Heavy black columns) -->
    <div class="wicket-stump-1 absolute top-2 left-2 w-6 md:w-8 h-full bg-brutal-black transition-transform duration-100 ease-linear origin-bottom border-2 border-brutal-white"></div>
    <div class="wicket-stump-2 absolute top-2 left-[50px] md:left-[64px] w-6 md:w-8 h-full bg-brutal-black transition-transform duration-100 ease-linear origin-bottom border-2 border-brutal-white"></div>
    <div class="wicket-stump-3 absolute top-2 right-2 w-6 md:w-8 h-full bg-brutal-black transition-transform duration-100 ease-linear origin-bottom border-2 border-brutal-white"></div>
</div>
